# Project

# System
.DS_Store
*.log

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
.eggs/
*.egg
*.egg-info/
build/
dist/
eggs/
sdist/
wheels/

# Unit test / Coverage reports
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
.tox
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
