# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# exclude: ""

# pre-commit ci
ci:
  autoupdate_schedule: monthly

# pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2000]
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: name-tests-test
      - id: trailing-whitespace

  # gitleaks
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  # ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      # Ruff linting
      - id: ruff
        args: [--line-length=120]
      # Ruff formatting
      - id: ruff-format
