[envs.default]
dependencies = ["pytest", "pytest-cov"]
[envs.default.scripts]
run = "pytest"
[[envs.default.matrix]]
python = ["3.11", "3.12"]

[envs.ruff]
dependencies = ["ruff"]
[envs.ruff.scripts]
run = "ruff check ."

[envs.mypy]
dependencies = ["mypy"]
[envs.mypy.scripts]
run = "mypy src tests"
