---
name: CD

on:
  push:
    tags:
      - "*"

permissions: {}

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read
      pull-requests: write
      actions: write
      id-token: write

  github-pages-publish:
    needs: ci
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
        with:
          artifact_name: site

  pypi-publish:
    needs: ci
    environment:
      name: pypi
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v7.0.0
        with:
          name: dist
          path: dist

      - name: Publish build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
