---
name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * 6'  # Every Saturday at 12:00

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tox:
    uses: daniel-mizsak/workflows/.github/workflows/tox.yml@feature/update-tox
    with:
      python_versions: "['3.11', '3.12']"
      codecov: true
    secrets: inherit
