---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 12 * * 6" # Every Saturday at 12:00
  workflow_call:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    permissions:
      contents: read
      pull-requests: write
    uses: daniel-mizsak/workflows/.github/workflows/lint.yml@v1
    with:
      megalinter-config: "./.github/linters/.megalinter.yml"

  ci:
    permissions:
      contents: read # checkout
      actions: write # upload-artifact
      id-token: write # codecov-action
    uses: daniel-mizsak/workflows/.github/workflows/python-ci.yml@v1
    with:
      python-version: "3.12"
      coverage: true
      codecov: true
      documentation: true
      package: true
