---
name: Release
on:
  push:
    tags:
      - "*"

jobs:
  tox:
    uses: daniel-mizsak/workflows/.github/workflows/tox.yml@v1
    with:
      python_versions: "['3.11', '3.12']"
      codecov: true
    secrets: inherit


  pypi-publish:
    needs: tox
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: build
          path: dist

      - name: Publish build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1


  gh-pages-publish:
    needs: tox
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Publish to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: docs
